.place__title {
    grid-area: place__title;
    color: white;
    font-size: 72px;
    line-height: 106%;
    max-height: 152px;
    margin: 0;
    font-weight: 900;
}

@media screen and (max-width:1023px) {
    .place__title {
        font-size: 42px;
        line-height: 106%;
        max-height: 92px;

    }
}

@media screen and (max-width:767px) {
    .place__title {
        font-size: 32px;
        line-height: 106%;
        max-height: 35px;
        margin-left: 16px;
        margin-top: 50px;
        margin-bottom: 32px;

    }
}