.cover {
    margin-top: 12px;

}

@media screen and (max-width:1023px) {
    .cover {
        margin-top: 18px;

    }
}

@media screen and (max-width:767px) {
    .cover {
        margin-top: 25px;

    }
}